[Desktop Entry]
Comment=HootBoard internal meeting Zoom video conference
Exec=xdg-open "zoommtg://zoom.us/join?action=join&confno=0000&pwd=0000"
Icon=Zoom
MimeType=application/x-zoom;
Name=Join Internal Meeting
StartupNotify=true
StartupWMClass=zoom
Type=Application
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
