[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=wine '/home/chandu/Softwares/Games/Assassins Creed II/AssassinsCreedIIGame.exe'
GenericName[en_IN]=
GenericName=
Icon=/home/chandu/Softwares/Games/Assassins Creed II/icon.ico
MimeType=
Name[en_IN]=Assassins Creed II
Name=Assassins Creed II
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
