[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=wine '/home/chandu/Softwares/Games/Assassins Creed Revelations/AssassinsCreedRevelations.exe'
GenericName[en_IN]=
GenericName=
Icon=/home/chandu/Softwares/Games/Assassins Creed Revelations/icon.ico
MimeType=
Name[en_IN]=Assassins Creed Revelations
Name=Assassins Creed Revelations
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
